<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <connectionStrings>



    <add name="connstrng" connectionString="SERVER=192.168.0.149;DATABASE=Factory;USER ID=stock;PASSWORD=stock"/>

    <!-- <add name="connstrng" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\StockAssistant\Factory.mdf;Integrated Security=True"/> -->
    <!-- <add name="connstrng" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Factory;Integrated Security=True"/>-->
    <!-- <add name="connstrng" connectionString="SERVER=175.136.223.217;DATABASE=Factory;USER ID=jun;PASSWORD=junong"/> -->
    <!-- <add name="connstrng" connectionString="SERVER=LAPTOP-2B38MO48\JUN2014;DATABASE=Factory;USER ID=jun;PASSWORD=junong"/> -->
    <!-- <add name="connstrng" connectionString="SERVER=175.136.223.217;DATABASE=Factory;USER ID=stock;PASSWORD=stock"/>-->
    <!-- <add name="connstrng" connectionString="SERVER=2001:e68:6908:f800:c804:72b9:60a7:7360;DATABASE=Factory;USER ID=stock;PASSWORD=stock"/>-->

    <!-- <add name="connstrng" connectionString="SERVER=SAFETY06-MURUGA\SQLEXPRESS;DATABASE=Factory;USER ID=stock;PASSWORD=stock"/> -->
    <!-- <add name="connstrng" connectionString="SERVER=192.168.0.150;DATABASE=Factory;USER ID=stock;PASSWORD=stock"/> -->
    
    <!-- <add name="connstrng" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\StockAssistant\Factory.mdf;Integrated Security=True"/> -->
    
    <add name="FactoryEntities" connectionString="metadata=res://*/UI.Model.csdl|res://*/UI.Model.ssdl|res://*/UI.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.150;initial catalog=Factory;user id=stock;password=stock;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/><add name="FactoryEntities1" connectionString="metadata=res://*/UI.Model.csdl|res://*/UI.Model.ssdl|res://*/UI.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.150;initial catalog=Factory;user id=stock;password=stock;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
